.p1 { 
	font-size: 13px/20px "Times New Roman";
}

.p2 {
	font: bold 40px Arial;
    width: 300px;
	color: red;
}

.p3 {
	font: bold italic 40px/60px Arial;
	text-indent: 50px;
	
}

.p4 {
	text-indent: 50px;
	text-align: justify;
	width: 400px;
}
.p5 {
	text-decoration: underline;
}
.p6 {
	text-decoration: overline;
    color: red;
}

.p7 {
	text-decoration: line-through;
    color: green;
}


a {
	text-decoration: none;
    color:red;
}



.h1_3 {
    width: 500px;
    text-align: center;
    color: blue;
    font-size: 40px;
    text-decoration: none;
}
.h2_1 {
    width: 500px;
    text-align: center;
    color: green;
    font-weight: normal;
    font-size: 30px;
}
.p8 {
    width: 500px;
    text-align: justify;
    font-size: 16px;
    line-height: 25px;
    font-family: Arial;
    text-indent: 40px;
    color:black;
}
ul {
    width: 500px;
    text-align: justify;
    font-size: 16px;
    line-height: 20px;
    color:black;
}
i {
    color: green;
}
li{
    width: 400px;
    color: black;
}


.h1_4,.h2_2,.h3 {
	text-align: center;
}
 