.parent	{
	display: flex;
	border: 1px solid red;
}
.child {
	width: 50px;
	height: 50px;
	border: 1px solid green;
}

.parent1	{
	display: inline-flex;
	border: 1px solid red;
}
.child1 {
	width: 50px;
	height: 50px;
	border: 1px solid green;
}

.parent2	{
	display: inline-flex;
	padding: 10px;
	border: 1px solid red;
}
.child2 {
	width: 50px;
	height: 50px;
	border: 1px solid green;
}

.parent3	{
	display: inline-flex;
	border: 1px solid red;
}
.child3 {
	margin: 10px;
	width: 100px;
	height: 50px;
	border: 1px solid green;
}

.parent4 {
	display: flex;
	justify-content: center;
    border: 1px solid red;
    height: 300px;
    width: 900px;
}

.child4 {
	width: 100px;
	height: 50px;
	border: 1px solid green;
}

.parent5 {
	display: flex;
	justify-content: space-between;
    border: 1px solid red;
    height: 200px;
    width: 900px;
}

.child5 {
	width: 100px;
	height: 50px;
	border: 1px solid green;
}

.parent6 {
	display: flex;
	justify-content: space-around;
    border: 1px solid red;
    height: 200px;
    width: 900px;
}

.child6 {
	width: 100px;
	height: 50px;
	border: 1px solid green;
}


.parent7 {
	display: flex;
	justify-content: space-evenly;
    border: 1px solid red;
    height: 200px;
    width: 900px;
}

.child7 {
	width: 100px;
	height: 50px;
	border: 1px solid green;
}

#elem1 {
	width: 50px;
	height: 50px;
	border: 1px solid red;
}
#elem2 {
    margin-top: 10px;
	position: absolute;
	left: 80px;
	
	width: 50px;
	height: 50px;
	border: 1px solid blue;
}
#elem3 {
    margin-top: 70px;
	position: absolute;
	left: 160px;
	
	width: 50px;
	height: 50px;
	border: 1px solid green;
}

#elem11 {
    position: absolute;
	width: 50px;
	height: 50px;
	border: 1px solid red;
}
#elem22 {
 
	position: absolute;
	left: 80px;
	width: 50px;
	height: 50px;
	border: 1px solid blue;
}
#elem33 {
  
	position: absolute;
	left: 160px;
	width: 50px;
	height: 50px;
	border: 1px solid green;
}

.h1,.h1_1{
    margin-top: 100px;
}
.h1_2{
    margin-top: 150px;
}

#elem111 {
    position: absolute;
	width: 50px;
	height: 50px;
	border: 1px solid red;
}
#elem222 {
	position: absolute;
	left: 35px;
	margin-top: 30px;
	width: 50px;
	height: 50px;
	border: 1px solid blue;
}
#elem333 {
    margin-top: 60px;
	position: absolute;
	left: 65px;
	
	width: 50px;
	height: 50px;
	border: 1px solid green;
}

#elem1111 {
    position: absolute;
	width: 50px;
	height: 50px;
    background-color: red ;
	border: 1px solid red;
}
#elem2222 {
	position: absolute;
	left: 35px;
	margin-top: 30px;
	width: 50px;
    background-color: blue ;
	height: 50px;
	border: 1px solid blue;
}
#elem3333 {
    margin-top: 60px;
	position: absolute;
	left: 65px;
	background-color: green ;
	width: 50px;
	height: 50px;
	border: 1px solid green;
}


#elem4 {
    position: relative;
	width: 100px;
	height: 100px;

	background-color: #FF8888;
}
#elem5 {
    position: relative;
	width: 100px;
	height: 100px;
	bottom: 40px;
    left: 40px;
	background-color: #7E89EB;
}
#elem6 {
    position: relative;
	width: 100px;
	height: 100px;
	bottom: 80px;
    left: 80px;
	background-color: #4DEE99;
}

#parent8 {
	position: relative;
	width: 500px;
	height: 300px;
	border: 1px solid green;
}
#child8 {
	position: absolute;
	bottom: 160px;
	left: 100px;
	
	width: 80px;
	height: 80px;
	border: 1px solid red;
}

#parent9 {
	position: relative;
	width: 500px;
	height: 300px;
	border: 1px solid green;
    background-color: #4DEE99;
}
#child9 {
	position: absolute;
	bottom: 160px;
	left: 100px;
	background-color: aliceblue;
	width: 80px;
	height: 80px;
	border: 1px solid #4DEE99;
}


#child10 {
	position: absolute;
	top: 100px;
	left: 220px;
	background-color: aliceblue;
	width: 80px;
	height: 80px;
	border: 1px solid #4DEE99;
}


#parent10 {
	position: relative;
	width: 120px;
	height: 300px;

	border: 1px solid green;
  
}
#child11 {
	position: absolute;
	bottom: 200px;
    left: 20px;
	background-color: red;
	width: 80px;
	height: 80px;
    border-radius: 40px;
	border: 1px solid black;
}


#child12 {
	position: absolute;
    top: 90px;
   
	background-color: yellow;
	width: 80px;
	height: 80px;
    border-radius: 40px;
	border: 1px solid black;
}
#child13 {
	position: absolute;
    top: 100px;
  
	background-color: green;
	width: 80px;
	height: 80px;
    border-radius: 40px;
	border: 1px solid black;
}

#elem100 {
	position: absolute;
    margin-top: 4600px;
	top:    100px;
	right:  100px;
	bottom: 100px;
	left:   100px;
	width: 700px;
    height: 300px;
	border: 1px solid green;
}

#elem101 {
	position: absolute;
    margin-top: 5000px;
	top:    100px;
	right:  200px;
	bottom: 50px;
	left:   10px;
	width: 700px;
    height: 300px;
	border: 1px solid green;
}

.h1_3{
    margin-top: 400px;
}