.task {
    color:red;
}
.task{
	color: red;
}

.gg {
	color: green;
}

.dd {
	color: blue;
}
.h3 {
	color: red;
} 
.dost {
	color: orange;
}
.h1 {
	color: #3016B0;
}
.h4{
	color: rgb(0, 60, 60);
}
.p1 {
    width: 300px;
}
td {
	width: 400px;
	height: 300px;
}
.p2 {
	text-align: right;
}