.p1 { 
	font-size: 13px/20px "Times New Roman";
}

.p2 {
	font: bold 40px Arial;
    width: 300px;
	color: red;
}

.p3 {
	font: bold italic 40px/60px Arial;
	text-indent: 50px;
	
}

.p4 {
	text-indent: 50px;
	text-align: justify;
	width: 400px;
}
.p5 {
	text-decoration: underline;
}
.p6 {
	text-decoration: overline;
    color: red;
}

.p7 {
	text-decoration: line-through;
    color: green;
}