/*52*/

.h1,.h2,.h3 {
	text-align: center;
}
.h2 {
	color: blue;
}
.h3 {
    font-size: 16px;
	color: red;
}


.h1_1,.h2_2,.h3_3 {
	text-align: center;
	color: red;
}
.h3_3 {
	font-size: 16px;
}

/* 53 */
ul i{
color:red;
}
p i{
 color:green;   
}

p b i{
    color:red;
}

/* 54 */
li > b{
    color:red;
}
/* 55 */
.odd{
    color:red;
}
.eve{
    color:green;
}

.eee{
    color:red;
}
