/* 61 */
.eee .bbb {
	color: red;
}

.eee h2 {
	color: red;
}

.eee h2.bbb {
	color: red;
}

.eee h3.bbb {
	color: red;
}

.eee p.bbb {
	color: red;
    
}

.eee .bbb .kkk {
	color: red;
    font-size: 20px; /* для проверки что код работает верно*/
}
/* 62.1 */
p.bbb1 {
	color: red;
}
p .bbb1 {
	color: blue;
}

.eee1 p.bbb2 {
	color: burlywood;
}

.eee1 p .bbb2 {
	color: green;
}
/* 63 */
.success {
	color: green;
}
.error {
	color: red;
}
.large {
	font-size: 30px;
}
.small {
	font-size: 20px;
}

/* 63 2 */
.size{
    font-size: 100px;
}
.color{
    color:purple;
}
.font{
    font:bold;
}
/* 64 */
#elem1{
	color:red;
}
#elem2{
	color:green;
}
#elem3{
	color:blue;
}
#block{
	font-size: 30px;
}
.text{
	font-style: italic;
}

/* 66 */
#elem h2{
	color:chocolate;
}

#elem .text{
	color:chocolate;
	font-weight: bold;
}

/* 67 */
.eee.zzz.ccc{
	color:chocolate;
}

/* 68 */
.bbb.zzz {
    font-size: 50px;
}
h2.bbb.zzz {
	color: chartreuse;
}
#elem11.bbb {
	color: cyan;
}
#elem11.bbb.zzz {
	color: chocolate;
}
h2#elem11.bbb { 
	color: green;
}

