/*БЛОК КОДА ДЛЯ ЗАДАЧ 30-40:*/

.p3{
    text-align: center;
}
.th1 {
	text-align: left;
}

.table2 {
	width: 400px;
}
.p4 {
	text-align: justify;
	width: 300px;
}

/*34*/
.h1_1 {
	text-align: right;
}

.h2 {
    text-align: center;
}

.table11 {
	width: 500px;
}

th {
	text-align: left;
}

td {
	text-align: center;
}

.p5 {
	text-align: justify;
	width: 300px;
}

.h2 {
	text-align: center;
	width: 300px;
}

/*35*/
.tablen {
	width: 500px;
    height: 300px;
}

.td_1{
	font-weight: bold;
    text-align: center;
}

.th_7{
	font-weight: normal;
}
/*36*/
h2 {
	font-style: italic;
}
/*37*/
.p_9 { 
	font-size: 30px;
}

.h1_8 {
	font-size: 50px;
    text-align: center;
}

.h2_8 {
	font-size: 40px;
    font-weight: normal;
}
/*38*/
.h1_2 {
	font-family: Arial Black;
}

h2 {
	font-family: Georgia;
}

h3{
    font-family: 'Times New Roman';
}
/*39*/
.p6 {
    width: 500px;
	font-size: 30px;
    line-height: 45px;
}
/*40*/
.p7 {
    width: 500px;
	font-size: 30px;
    line-height: 1.5;
}