/*БЛОК КОДА ДЛЯ ЗАДАЧ 24-30:*/

.task{
	color: red;
}

.gg {
	color: green;
}

.dd {
	color: blue;
}
.h3 {
	color: red;
} 
.dost {
	color: orange;
}
.h1 {
	color: #3016B0;
}
.h4{
	color: rgb(0, 60, 60);
}
.p1 {
    width: 300px;
}
td {
	width: 400px;
	height: 300px;
}
.p2 {
	text-align: right;
}

/*БЛОК КОДА ДЛЯ ЗАДАЧ 30-40:*/

.p3{
    text-align: center;
}
.th1 {
	text-align: left;
}

.table2 {
	width: 400px;
}
.p4 {
	text-align: justify;
	width: 300px;
}