#elem {
	width: 250px;
	height: 250px;
	color: white;
	background-color:blueviolet; /* задаем оранжевый цвет фона */
}

#elem1 {
	width: 300px;
	height: 200px;
	color: white;
    text-align: center;
    font-size: 25px;
	background-color:#4dee99; /* задаем оранжевый цвет фона */
}

#elem2 {
	border-width: 3px;    /* толщина 3px */
	border-style: solid;  /* в виде линии */
	border-color: red;    /* красный цвет */
	width: 300px;
	height: 100px;
}

#elem3 {
	border-width: 5px;
	border-style: solid;
	border-color: blue;
	width: 300px;
	height: 200px;
}

#elem4 {
	border-width: 5px;
	border-style: dotted;
	border-color: red;
	width: 300px;
	height: 200px;
}

#elem5 {
	border-width: 2px;
	border-style: dashed;
	border-color: orange;
	width: 300px;
	height: 200px;
}

#elem6 {
	border-width: 5px;
	border-style: double;
	border-color: blue;
	width: 300px;
	height: 200px;
}

#elem7 {
	border-width: 1px;
	border-style: solid;
	border-color: red;
	width: 300px;
	height: 200px;
}

#elem8 {
	border-width: 3px;
	border-style: dotted;
	border-color: blue;
	width: 300px;
	height: 200px;
}

#elem9 {
	border-width: 3px;
	border-style: dashed;
	border-color: green;
	width: 300px;
	height: 200px;
}

#elem10 {
	border-width: 5px;
	border-style: double;
	border-color: orange;
	width: 300px;
	height: 200px;
}

#elem11 {
	width: 300px;
	height: 200px;
	border-left: 3px solid orange;
	border-right: 3px solid green;
    border-top:3px solid blue;
    border-bottom:3px solid red;
}

#elem12 {
	width: 300px;
	height: 200px;
	border-left: 3px solid red;
	border-right: 3px dashed green;
    border-top:1px solid blue;
    border-bottom:1px solid blue;
}

#elem13 {
	width: 200px;
	height: 200px;
	border: 1px solid rgb(15, 201, 15);
	border-radius: 10px;
}

#elem14 {
	border-radius: 20px;
	width: 200px;
	height: 200px;
	background-color: #7fe0ab;
}

#elem15 {
	width: 150px;
	height: 150px;
	border-radius: 75px;
	border: 1px solid green;
}

#elem16 {
	width: 200px;
	height: 200px;
	border: 1px solid hsl(120, 100%, 25%);
	border-radius: 10px 30px 40px 50px;
}