#elem {
	width: 250px;
	height: 250px;
	color: white;
	background-color:blueviolet; /* задаем оранжевый цвет фона */
}

#elem1 {
	width: 300px;
	height: 200px;
	color: white;
    text-align: center;
    font-size: 25px;
	background-color:#4dee99; /* задаем оранжевый цвет фона */
}

#elem2 {
	border-width: 3px;    /* толщина 3px */
	border-style: solid;  /* в виде линии */
	border-color: red;    /* красный цвет */
	width: 300px;
	height: 100px;
}

#elem3 {
	border-width: 5px;
	border-style: solid;
	border-color: blue;
	width: 300px;
	height: 200px;
}

#elem4 {
	border-width: 5px;
	border-style: dotted;
	border-color: red;
	width: 300px;
	height: 200px;
}

#elem5 {
	border-width: 2px;
	border-style: dashed;
	border-color: orange;
	width: 300px;
	height: 200px;
}

#elem6 {
	border-width: 5px;
	border-style: double;
	border-color: blue;
	width: 300px;
	height: 200px;
}

#elem7 {
	border-width: 1px;
	border-style: solid;
	border-color: red;
	width: 300px;
	height: 200px;
}

#elem8 {
	border-width: 3px;
	border-style: dotted;
	border-color: blue;
	width: 300px;
	height: 200px;
}

#elem9 {
	border-width: 3px;
	border-style: dashed;
	border-color: green;
	width: 300px;
	height: 200px;
}

#elem10 {
	border-width: 5px;
	border-style: double;
	border-color: orange;
	width: 300px;
	height: 200px;
}

#elem11 {
	width: 300px;
	height: 200px;
	border-left: 3px solid orange;
	border-right: 3px solid green;
    border-top:3px solid blue;
    border-bottom:3px solid red;
}

#elem12 {
	width: 300px;
	height: 200px;
	border-left: 3px solid red;
	border-right: 3px dashed green;
    border-top:1px solid blue;
    border-bottom:1px solid blue;
}

#elem13 {
	width: 200px;
	height: 200px;
	border: 1px solid rgb(15, 201, 15);
	border-radius: 10px;
}

#elem14 {
	border-radius: 20px;
	width: 200px;
	height: 200px;
	background-color: #7fe0ab;
}

#elem15 {
	width: 150px;
	height: 150px;
	border-radius: 75px;
	border: 1px solid green;
}

#elem16 {
	width: 200px;
	height: 200px;
	border: 1px solid hsl(120, 100%, 25%);
	border-radius: 10px 30px 40px 50px;
}

#elem17 {
	width: 200px;
	height: 200px;
	border: 1px solid green;
	border-radius: 10px 40px;
}

#elem18 {
	width: 200px;
	height: 200px;
	border: 1px solid green;
	border-radius: 10px 30px 30px;
}

#elem19 {
	width: 100px;
	height: 100px;
	border: 1px solid green;
	border-radius: 50%;
}

#elem20  {
	background-image: url("bg.png");
	width: 400px;
	height: 300px;
	border: 3px solid black;
}

#elem21  {
	background-image: url("bg.png");
	background-repeat: repeat-y;
	width: 1500px;
	height: 900px;
	border: 3px solid black;
}

#elem22 {
	background-image: url("bg.png");
	background-repeat: repeat-x;
	width: 1500px;
	height: 600px;
	border: 3px solid black;
}


#elem23 {
	background-position: center 30px;
	background-image: url("bg.png");
	background-repeat: no-repeat;
	width: 400px;
	height: 300px;
	border: 1px solid black;
}

.elem {
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("bg.png");
	border: 1px solid black;
	margin-bottom: 20px;
}

#elem24 {
	width: 600px;
	height: 500px;
}

#elem25 {
	width: 500px;
	height: 600px;
}

#elem26 {
	width: 400px;
	height: 400px;
}

#elem27 {
	width: 300px;
	height: 400px;
}

#elem28 {
	width: 200px;
	height: 400px;
}

#elem29 {
	width: 300px;
	height: 100px;
}

#elem30 {
	background-clip: content-box;
	
	
	border: 10px dashed black;
	background-color: orange;
	padding: 30px;
	width: 250px;
	height: 150px;
}

#elem31 {
	background-repeat: repeat;
	background-image: url("bg.png");
	border: 10px dashed black;
	padding: 30px;
	width: 350px;
	height: 300px;
}  