/* 71 */
#block h2 {
	color: blue;
}
#block h3 {
	font-size: 16px;
	color: red;
}
#block h1, #block h2, #block  h3{
    text-align: center;
}


#block h1.eee {
	font-size: 30px;
}
#block h2.zzz {
	font-size: 20px;
}

#block h1.eee,#block h2.zzz{
    text-align: center;
}



.xxx .kkk, .eee h2.zzz, #eee h2 {
	text-align: center;
}


.eee h2.zzz, .xxx {
	text-align: center;
}
/* 72 */
.div p{
    color:red;
}
.div1 h2{
    color:red;
}
#block7 p{
    color:red;
}
#block1 h2{
    color:red;
}

.bbb{
    color:red;
}
#block2 .bbb1{
    color:red;
}

p.bbb11{
   color:red;
}

h2.bbb3{
    color:red;
}

#block4 p.bbb4{
    color:red;
}

.xxx5, .bbb5{
    color:red;
}

p.bbb6,h2.xxx6{
    color:red;
}

#block5 p.bbb8, #block5 p.xxx8{
     color: red;
}
.fff{
    color:red;
}

.fff1 p{
    color:red;
}

p.fff2{
    color:red;
}

.fff4 .bbb9{
    color:red;
}

.fff3 h2.bbb10{
    color:red;
}

/* 73 */
<h2>text</h2>
.h2_1 {
	font-size: 20px;
}
.h2_1 {
	font-size: 30px;
}
/* 74 */
.h2_2 {
	font-size: 20px;
	color: blue;
}
.h2_2 {
	font-style: italic;
	color: red;
}
