#parent {
	display: grid;
	grid-template-columns: 1fr 1fr;
	border: 2px solid #696989;
	padding: 10px;
	width: 600px;
}
#parent > div {
	padding: 10px;
	border: 1px solid #696989;
	box-sizing: border-box;
	border: 1px solid #696989;
}

#parent1 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	border: 2px solid #696989;
	padding: 10px;
	width: 600px;
}
#parent1 > div {
	padding: 10px;
	border: 1px solid #696989;
	box-sizing: border-box;
	border: 1px solid #696989;
}

#parent2 {
	display: grid;
	grid-template-columns: 1fr 1fr 2fr;
	border: 2px solid #696989;
	padding: 10px;
	width: 600px;
}
#parent2 > div {
	padding: 10px;
	border: 1px solid #696989;
	box-sizing: border-box;
	border: 1px solid #696989;
}

#parent3 {
	display: grid;
	grid-template-columns: 1fr 1fr 1.5fr;
	border: 2px solid #696989;
	padding: 10px;
	width: 600px;
}
#parent3 > div {
	padding: 10px;
	border: 1px solid #696989;
	box-sizing: border-box;
	border: 1px solid #696989;
}


#parent4 {
	display: grid;
	grid-template-columns: 1fr 1.5fr 2.5fr;
	border: 2px solid #696989;
	padding: 10px;
	width: 600px;
}
#parent4 > div {
	padding: 10px;
	border: 1px solid #696989;
	box-sizing: border-box;
	border: 1px solid #696989;
}


#parent5 {
	display: grid;
	grid-template-columns: 100px 1fr 250px;
	border: 2px solid #696989;
	padding: 10px;
	width: 600px;
}
#parent5 > div {
	padding: 10px;
	border: 1px solid #696989;
}

#parent6 {
	display: grid;
	grid-template-columns: 100px 160px 240px 100px;
	border: 2px solid #696989;
	padding: 10px;
	width: 600px;
}
#parent6 > div {
	padding: 10px;
	border: 1px solid #696989;
}

#parent7 {
	display: grid;
	grid-template-columns: 20% 40% 40%;
	border: 2px solid #696989;
	padding: 10px;
	width: 600px;
}
#parent7 > div {
	padding: 10px;
	border: 1px solid #696989;
}

#parent8 {
	display: grid;
	grid-template-columns: 100px 20% 100px 200px 400px;
	border: 2px solid #696989;
	padding: 10px;
	width: 1000px;
}
#parent8 > div {
	padding: 10px;
	border: 1px solid #696989;
}

#parent9 {
	display: grid;
	grid-template-columns: repeat(4,1fr);
	border: 2px solid #696989;
	padding: 10px;
	width: 1000px;
}
#parent9> div {
	padding: 10px;
	border: 1px solid #696989;
}

#parent10 {
	display: grid;
	grid-template-columns: repeat(4,100px) repeat(3,2fr);
	border: 2px solid #696989;
	padding: 10px;
	width: 1000px;
}
#parent10 > div {
	padding: 10px;
	border: 1px solid #696989;
}

#parent11 {
	display: grid;
	grid-template-columns: repeat(2,100px) repeat(3,200px) 1fr repeat(2, 10%);
	border: 2px solid #696989;
	padding: 10px;
	width: 1500px;
}
#parent11 > div {
	padding: 10px;
	border: 1px solid #696989;
}

#parent12 {
	display: grid;
	grid-template-columns: 200px auto;
	border: 2px solid #696989;
	padding: 10px;
	width: 800px;
}
#parent12 > div {
	padding: 10px;
	border: 1px solid #696989;
}

#parent13 {
	display: grid;
	grid-template-columns: 100px 150px auto;
	border: 2px solid #696989;
	padding: 10px;
	width: 800px;
}
#parent13 > div {
	padding: 10px;
	border: 1px solid #696989;
}

#parent14 {
	display: grid;
	grid-template-columns: repeat(auto-fill, 200px);
	border: 2px solid #696989;
	padding: 10px;
	width: 800px;
}
#parent14 > div {
	padding: 10px;
	border: 1px solid #696989;
}

#parent15 {
	display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	border: 2px solid #696989;
	padding: 10px;
	width: 600px;
}
#parent15 > div {
	padding: 10px;
	border: 1px solid #696989;
}

#parent16 {
	display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	border: 2px solid #696989;
	padding: 10px;
	width: 700px;
}
#parent16 > div {
	padding: 10px;
	border: 1px solid #696989;
}

#parent17 {
	display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	border: 2px solid #696989;
	padding: 10px;
	width: 400px;
}
#parent17 > div {
	padding: 10px;
	border: 1px solid #696989;
}


#parent18 {
	display: grid;
	grid-template-rows: 100px 150px 200px;
	border: 2px solid #696989;
	padding: 10px;
	width: 600px;
	height: 460px;
}
#parent18 > div {
	padding: 10px;
	border: 1px solid #696989;
}


#parent19 {
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	border: 2px solid #696989;
	padding: 10px;
	width: 600px;
	height: 200px;
}
#parent19 > div {
	padding: 10px;
	border: 1px solid #696989;
}

.parent1 {
	display: grid;
	grid-template: 1fr 2fr / 1fr 2fr 2fr 4fr ;
	border: 2px solid #696989;
	padding: 10px;
	width: 600px;
	height: 200px;
}
.parent1 > div {
	padding: 10px;
	border: 1px solid #696989;
}


.parent2 {
	display: grid;
	grid-template: 1fr 2fr /  2fr 1fr 1fr 2fr;
	border: 2px solid #696989;
	padding: 10px;
	width: 600px;
	height: 200px;
}
.parent2 > div {
	padding: 10px;
	border: 1px solid #696989;
}


.parent3 {
	display: grid;
	grid-template: 1fr 1fr 2fr 4fr / 1fr 2fr 3fr ;
	border: 2px solid #696989;
	padding: 10px;
	width: 600px;
	height: 350px;
}
.parent3 > div {
	padding: 10px;
	border: 1px solid #696989;
}



.parent4 {
	display: grid;
	grid-template: 4fr 2fr 2fr / 2fr 1fr 2fr 1fr ;
	border: 2px solid #696989;
	padding: 10px;
	width: 600px;
	height: 350px;
}
.parent4 > div {
	padding: 10px;
	border: 1px solid #696989;
}


.parent5 {
	display: grid;
	grid-template: 2fr 1fr / 1fr 1fr 2fr 4fr 4fr ;
	border: 2px solid #696989;
	padding: 10px;
	width: 600px;
	height: 350px;
}
.parent5 > div {
	padding: 10px;
	border: 1px solid #696989;
}

.parent6 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: 300px;
	width: 400px;
	padding: 10px;
	border: 2px solid #696989;
}
.parent6 > div {
	padding: 10px;
	border: 1px solid #696989;
}
#elem1 {
	grid-row: 1 / 2;
}
#elem2 {
	grid-row: 2 / 3;
}
#elem3 {
	grid-row: 1 / 2;
}
#elem4 {
	grid-row: 2/ 4;
}

#elem5 {
	grid-row: 3/ 4;
}

.parent7 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: 300px;
	width: 400px;
	padding: 10px;
	border: 2px solid #696989;
}
.parent7 > div {
	padding: 10px;
	border: 1px solid #696989;
}
#elem11 {
	grid-row: 1 / 5;
}
#elem22 {
	grid-row: 1 / 2;
}
#elem33 {
	grid-row: 2/ 3;
}
#elem44 {
	grid-row: 3 / 4;
}

#elem55 {
	grid-row: 4 / 5;
}

.parent8 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: 300px;
	width: 400px;
	padding: 10px;
	border: 2px solid #696989;
}
.parent8 > div {
	padding: 10px;
	border: 1px solid #696989;
}
#elem111 {
	grid-row: 1 / 2;
}
#elem222 {
	grid-row: 1 / 3;
}
#elem333 {
	grid-row: 2/ 3;
}
#elem444 {
	grid-row: 3 / 5;
}

#elem555 {
	grid-row: 3 / 5;
}


.par1 {
	display: grid;
	padding: 10px;
	border: 2px solid #696989;
	width: 400px;
	height: 300px;
}
.par1 > div {
	padding: 10px;
	border: 1px solid #696989;
}
#el1 {
	grid-column: 1 / 2;
}
#el2 {
	grid-column: 2/ 4;
}
#el3 {
	grid-column: 1/ 3;
}
#el4 {
	grid-column: 3 / 4;
}


.par2 {
	display: grid;
	padding: 10px;
	border: 2px solid #696989;
	width: 400px;
	height: 300px;
}
.par2 > div {
	padding: 10px;
	border: 1px solid #696989;
}
#el_1 {
	grid-column: 1 / 4;
}
#el_2 {
	grid-column: 1/ 2;
}
#el_3 {
	grid-column: 2/ 3;
}
#el_4 {
	grid-column: 3 / 4;
}
#el_5 {
	grid-column: 1 / 4;
}

.par3 {
	display: grid;
	padding: 10px;
	border: 2px solid #696989;
	width: 400px;
	height: 300px;
}
.par3 > div {
	padding: 10px;
	border: 1px solid #696989;
}
#el6 {
	grid-column: 1 / 2;
}
#el7 {
	grid-column: 2/ 6;
}
#el8 {
	grid-column: 6/ 7;
}
#el9 {
	grid-column: 1 / 3;
}
#el10 {
	grid-column: 3/ 7;
}
#el11 {
	grid-column: 1/ 5;
}
#el12 {
	grid-column: 5/ 7;
}

.par_1 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	border: 2px solid #696989;
	padding: 10px;
	height: 300px;
	width: 400px;
}
.par_1 > div {
	padding: 10px;
	border: 1px solid #696989;
}
#el-1 {
	grid-row: 1 / 2;
	grid-column: 1 / 2;
}
#el-2 {
	grid-row: 1 / 2;
	grid-column: 2 / 3;
}
#el-3 {
	grid-row: 1 / 2;
	grid-column: 3 / 4;
}
#el-4 {
	grid-row: 2 / 3;
	grid-column: 1 / 3;
}
#el-5 {
	grid-row: 2 / 3;
	grid-column: 3 / 4;
}
#el-6 {
	grid-row: 3 / 3;
	grid-column: 1 / 4;
}

.par_2 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	border: 2px solid #696989;
	padding: 10px;
	height: 300px;
	width: 400px;
}
.par_2 > div {
	padding: 10px;
	border: 1px solid #696989;
}
#el--1 {
	grid-row: 1 / 3;
	grid-column: 1 / 3;
}
#el--2 {
	grid-row: 1 / 2;
	grid-column: 3 / 6;
}
#el--3 {
	grid-row: 2 / 2;
	grid-column: 3 / 6;
}
#el--4 {
	grid-row: 3 / 4;
	grid-column: 2 / 6;
}
#el--5 {
	grid-row: 3 / 4;
	grid-column: 1 / 2;
}
#el--6 {
	grid-row: 4 / 4;
	grid-column: 1 / 6;
}


.par01 {
	display: grid;
	padding: 10px;
	border: 2px solid #696989;
	width: 400px;
	height: 300px;
}
.par01 > div {
	padding: 10px;
	border: 1px solid #696989;
}
#el01 {
	grid-column: 1 / 3;
}
#el02 {
	grid-column: 2 / 4;
}
#el03 {
	grid-column: 3 / 5;
}


.par02 {
	display: grid;
	padding: 10px;
	border: 2px solid #696989;
	width: 400px;
	height: 300px;
}
.par02 > div {
	padding: 10px;
	border: 1px solid #696989;
}
#el04 {
	grid-column: 1 / 4;
}
#el05 {
	grid-column: 3 / 7;
}
#el06 {
	grid-column: 1 / 5;
}
#el07 {
	grid-column: 4 / 7;
}
#el08 {
	grid-column: 1 / 5;
}

.par03 {
	display: grid;
	padding: 10px;
	border: 2px solid #696989;
	width: 400px;
	height: 300px;
}
.par03 > div {
	padding: 10px;
	border: 1px solid #696989;
}
#el001 {
	grid-row: 1 / 2;
	grid-column: 1 / 3;
}
#el002 {
	grid-row: 1 / 2;
	grid-column: 3 / 5;
}
#el003 {
	grid-row: 2 / 3;
	grid-column: 2 / 4;
}
#el004 {
	grid-row: 3 / 4;
	grid-column: 1 / 3;
}
#el005 {
	grid-row: 4 / 5;
	grid-column: 2 / 5;
}

#parent001 {
	display: grid;
	column-gap: 20%;
	grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
	padding: 10px;
	border: 2px solid #696989;
	width: 600px;
	height: 200px;
}
#parent001 > div {
	padding: 10px;
	border: 1px solid #696989;
}

#parent002 {
	display: grid;
	row-gap: 25%;
	grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
	padding: 10px;
	border: 2px solid #696989;
	width: 600px;
	height: 200px;
}
#parent002 > div {
	padding: 10px;
	border: 1px solid #696989;
}