#parent {
	display: grid;
	grid-template-columns: 1fr 1fr;
	border: 2px solid #696989;
	padding: 10px;
	width: 600px;
}
#parent > div {
	padding: 10px;
	border: 1px solid #696989;
	box-sizing: border-box;
	border: 1px solid #696989;
}

#parent1 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	border: 2px solid #696989;
	padding: 10px;
	width: 600px;
}
#parent1 > div {
	padding: 10px;
	border: 1px solid #696989;
	box-sizing: border-box;
	border: 1px solid #696989;
}

#parent2 {
	display: grid;
	grid-template-columns: 1fr 1fr 2fr;
	border: 2px solid #696989;
	padding: 10px;
	width: 600px;
}
#parent2 > div {
	padding: 10px;
	border: 1px solid #696989;
	box-sizing: border-box;
	border: 1px solid #696989;
}

#parent3 {
	display: grid;
	grid-template-columns: 1fr 1fr 1.5fr;
	border: 2px solid #696989;
	padding: 10px;
	width: 600px;
}
#parent3 > div {
	padding: 10px;
	border: 1px solid #696989;
	box-sizing: border-box;
	border: 1px solid #696989;
}


#parent4 {
	display: grid;
	grid-template-columns: 1fr 1.5fr 2.5fr;
	border: 2px solid #696989;
	padding: 10px;
	width: 600px;
}
#parent4 > div {
	padding: 10px;
	border: 1px solid #696989;
	box-sizing: border-box;
	border: 1px solid #696989;
}


#parent5 {
	display: grid;
	grid-template-columns: 100px 1fr 250px;
	border: 2px solid #696989;
	padding: 10px;
	width: 600px;
}
#parent5 > div {
	padding: 10px;
	border: 1px solid #696989;
}

#parent6 {
	display: grid;
	grid-template-columns: 100px 160px 240px 100px;
	border: 2px solid #696989;
	padding: 10px;
	width: 600px;
}
#parent6 > div {
	padding: 10px;
	border: 1px solid #696989;
}

#parent7 {
	display: grid;
	grid-template-columns: 20% 40% 40%;
	border: 2px solid #696989;
	padding: 10px;
	width: 600px;
}
#parent7 > div {
	padding: 10px;
	border: 1px solid #696989;
}

#parent8 {
	display: grid;
	grid-template-columns: 100px 20% 100px 200px 400px;
	border: 2px solid #696989;
	padding: 10px;
	width: 1000px;
}
#parent8 > div {
	padding: 10px;
	border: 1px solid #696989;
}