#parent {
	display: grid;
	grid-template-columns: 1fr 1fr;
	border: 2px solid #696989;
	padding: 10px;
	width: 600px;
}
#parent > div {
	padding: 10px;
	border: 1px solid #696989;
	box-sizing: border-box;
	border: 1px solid #696989;
}

#parent1 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	border: 2px solid #696989;
	padding: 10px;
	width: 600px;
}
#parent1 > div {
	padding: 10px;
	border: 1px solid #696989;
	box-sizing: border-box;
	border: 1px solid #696989;
}

#parent2 {
	display: grid;
	grid-template-columns: 1fr 1fr 2fr;
	border: 2px solid #696989;
	padding: 10px;
	width: 600px;
}
#parent2 > div {
	padding: 10px;
	border: 1px solid #696989;
	box-sizing: border-box;
	border: 1px solid #696989;
}

#parent3 {
	display: grid;
	grid-template-columns: 1fr 1fr 1.5fr;
	border: 2px solid #696989;
	padding: 10px;
	width: 600px;
}
#parent3 > div {
	padding: 10px;
	border: 1px solid #696989;
	box-sizing: border-box;
	border: 1px solid #696989;
}


#parent4 {
	display: grid;
	grid-template-columns: 1fr 1.5fr 2.5fr;
	border: 2px solid #696989;
	padding: 10px;
	width: 600px;
}
#parent4 > div {
	padding: 10px;
	border: 1px solid #696989;
	box-sizing: border-box;
	border: 1px solid #696989;
}


#parent5 {
	display: grid;
	grid-template-columns: 100px 1fr 250px;
	border: 2px solid #696989;
	padding: 10px;
	width: 600px;
}
#parent5 > div {
	padding: 10px;
	border: 1px solid #696989;
}

#parent6 {
	display: grid;
	grid-template-columns: 100px 160px 240px 100px;
	border: 2px solid #696989;
	padding: 10px;
	width: 600px;
}
#parent6 > div {
	padding: 10px;
	border: 1px solid #696989;
}

#parent7 {
	display: grid;
	grid-template-columns: 20% 40% 40%;
	border: 2px solid #696989;
	padding: 10px;
	width: 600px;
}
#parent7 > div {
	padding: 10px;
	border: 1px solid #696989;
}

#parent8 {
	display: grid;
	grid-template-columns: 100px 20% 100px 200px 400px;
	border: 2px solid #696989;
	padding: 10px;
	width: 1000px;
}
#parent8 > div {
	padding: 10px;
	border: 1px solid #696989;
}

#parent9 {
	display: grid;
	grid-template-columns: repeat(4,1fr);
	border: 2px solid #696989;
	padding: 10px;
	width: 1000px;
}
#parent9> div {
	padding: 10px;
	border: 1px solid #696989;
}

#parent10 {
	display: grid;
	grid-template-columns: repeat(4,100px) repeat(3,2fr);
	border: 2px solid #696989;
	padding: 10px;
	width: 1000px;
}
#parent10 > div {
	padding: 10px;
	border: 1px solid #696989;
}

#parent11 {
	display: grid;
	grid-template-columns: repeat(2,100px) repeat(3,200px) 1fr repeat(2, 10%);
	border: 2px solid #696989;
	padding: 10px;
	width: 1500px;
}
#parent11 > div {
	padding: 10px;
	border: 1px solid #696989;
}

#parent12 {
	display: grid;
	grid-template-columns: 200px auto;
	border: 2px solid #696989;
	padding: 10px;
	width: 800px;
}
#parent12 > div {
	padding: 10px;
	border: 1px solid #696989;
}

#parent13 {
	display: grid;
	grid-template-columns: 100px 150px auto;
	border: 2px solid #696989;
	padding: 10px;
	width: 800px;
}
#parent13 > div {
	padding: 10px;
	border: 1px solid #696989;
}

#parent14 {
	display: grid;
	grid-template-columns: repeat(auto-fill, 200px);
	border: 2px solid #696989;
	padding: 10px;
	width: 800px;
}
#parent14 > div {
	padding: 10px;
	border: 1px solid #696989;
}

#parent15 {
	display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	border: 2px solid #696989;
	padding: 10px;
	width: 600px;
}
#parent15 > div {
	padding: 10px;
	border: 1px solid #696989;
}

#parent16 {
	display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	border: 2px solid #696989;
	padding: 10px;
	width: 700px;
}
#parent16 > div {
	padding: 10px;
	border: 1px solid #696989;
}

#parent17 {
	display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	border: 2px solid #696989;
	padding: 10px;
	width: 400px;
}
#parent17 > div {
	padding: 10px;
	border: 1px solid #696989;
}


#parent18 {
	display: grid;
	grid-template-rows: 100px 150px 200px;
	border: 2px solid #696989;
	padding: 10px;
	width: 600px;
	height: 460px;
}
#parent18 > div {
	padding: 10px;
	border: 1px solid #696989;
}


#parent19 {
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	border: 2px solid #696989;
	padding: 10px;
	width: 600px;
	height: 200px;
}
#parent19 > div {
	padding: 10px;
	border: 1px solid #696989;
}

.parent1 {
	display: grid;
	grid-template: 1fr 2fr / 1fr 2fr 2fr 4fr ;
	border: 2px solid #696989;
	padding: 10px;
	width: 600px;
	height: 200px;
}
.parent1 > div {
	padding: 10px;
	border: 1px solid #696989;
}


.parent2 {
	display: grid;
	grid-template: 1fr 2fr /  2fr 1fr 1fr 2fr;
	border: 2px solid #696989;
	padding: 10px;
	width: 600px;
	height: 200px;
}
.parent2 > div {
	padding: 10px;
	border: 1px solid #696989;
}


.parent3 {
	display: grid;
	grid-template: 1fr 1fr 2fr 4fr / 1fr 2fr 3fr ;
	border: 2px solid #696989;
	padding: 10px;
	width: 600px;
	height: 350px;
}
.parent3 > div {
	padding: 10px;
	border: 1px solid #696989;
}



.parent4 {
	display: grid;
	grid-template: 4fr 2fr 2fr / 2fr 1fr 2fr 1fr ;
	border: 2px solid #696989;
	padding: 10px;
	width: 600px;
	height: 350px;
}
.parent4 > div {
	padding: 10px;
	border: 1px solid #696989;
}


.parent5 {
	display: grid;
	grid-template: 2fr 1fr / 1fr 1fr 2fr 4fr 4fr ;
	border: 2px solid #696989;
	padding: 10px;
	width: 600px;
	height: 350px;
}
.parent5 > div {
	padding: 10px;
	border: 1px solid #696989;
}