#ul {
	list-style-type: square;
} 

#ul1 {
	list-style-type: circle;
}

#ul2 {
	list-style-type: none;
}

#parent {
	width: 300px;
	border: 1px dashed blue;
}

#child {
	height: 200px;
	border: 1px solid yellow;
	margin: 30px;
}


#elem1 {
    width: 400px;
    border: 1px dashed blue;
}


#elem2 {
    margin: 25px;
    border: 1px dashed green;
}

#elem3 {
    height: 200px;
    margin: 25px;
    border: 1px solid red;
}

#parent2 {
	width: 150px;
	border: 1px solid red;
}
#child2 {
	margin-top:    30px; /* сверху */
	margin-right:  30px; /* справа */
	margin-bottom: 70px; /* снизу */
	margin-left:   30px; /* слева */
	
	height: 100px;
	border: 1px solid green;
}

#parent3 {
	width: 200px;
	border: 1px solid red;
}
#child3 {
	margin-top:    50px; /* сверху */
	margin-right:  20px; /* справа */
	margin-bottom: 50px; /* снизу */
	margin-left:   20px; /* слева */
	
	height: 100px;
    border: 1px solid green;
}


#parent4 {
	width: 200px;
	border: 1px solid red;
}
#child4 {
	margin-top:    20px; /* сверху */
	margin-right:  50px; /* справа */
	margin-bottom: 20px; /* снизу */
	margin-left:   50px; /* слева */
	
	height: 100px;
	border: 1px solid green;
}

#parent5 {
	width: 200px;
	border: 1px solid yellow;
}
#child5 {
	height: 60px;
	border: 1px dashed blue;
	margin: 20px 40px 80px 10px;
}

#parent6 {
	width: 200px;
	border: 1px solid yellow;
}
#child6 {
	height: 60px;
	border: 1px dashed blue;
	margin: 80px 40px 20px;
}


#parent7 {
	width: 300px;
	border: 1px solid yellow;
}
#child7 {
	height: 50px;
	border: 1px dashed blue;
	margin: 30px 60px 50px;
}


#parent8 {
	width: 200px;
	border: 1px solid yellow;
}
#child8 {
	height: 60px;
	border: 1px dashed blue;
	margin: 120px 50px;
}


#parent9 {
	width: 180px;
	border: 1px solid yellow;
}
#child9 {
	height: 50px;
	border: 1px dashed blue;
	margin: 20px 40px;
}


#elem4 {
	padding: 40px;
	width: 200px;
	border: 1px solid red;
	text-align: justify;
}

#elem5 {
	padding: 20px;
	width: 500px;
	border: 1px solid green;
    margin-bottom: 50px;
}


#elem6 {
	padding: 10px;
	width: 300px;
    margin-left: 40px;
	border: 1px solid red;
	text-align: justify;
}

#elem7 {
	padding-top:    35px; /* сверху */
	padding-right:  20px; /* справа */
	padding-bottom: 60px; /* снизу */
	padding-left:   20px; /* слева */
	
	width: 200px;
	border: 1px solid red;
	text-align: justify;
}

#elem8 {
	padding-top:    20px; /* сверху */
	padding-right:  20px; /* справа */
	padding-bottom: 50px; /* снизу */
	padding-left:   50px; /* слева */
	
	width: 300px;
	border: 1px solid red;
	text-align: justify;
}

#elem9 {
	padding: 60px 30px; 
	
	width: 300px;
	border: 1px solid red;
	text-align: justify;
}

#elem10 {
	padding: 10px 10px 30px; 
	
	width: 300px;
	border: 1px solid red;
	text-align: justify;
}


#elem11 {
	width: 100px;
	height: 100px;
	background: #f1f1f1;
	padding: 25px; /* задаем отступы */
	border: 10px solid green;  /* задаем границу */
	box-sizing: border-box;  /* убираем расширение */
}



.div1 {
	width: 500px;
	height: 100px;
	border: 1px solid red;
}

.div2 {
	height: 100px;
	border: 1px solid red;
}