div {
	width: 100px;
	height: 100px;
	margin-bottom: 20px;
	border: 1px solid red;
}

span {
	border: 1px solid red;
}


.h2, .h3, .p1, .b1, i, a{
	width: 50px;
	height: 50px;
	border: 1px solid red;
}


.p2{
	display: inline;
	width: 100px;
	height: 100px;
	border: 1px solid red;
}

.a1 {
	display: block;
	width: 100px;
	height: 100px;
	border: 1px solid red;
}

.elem1 {
	display: inline-block;
	width: 100px;
	height: 100px;
	border: 1px solid red;
}

#parent {
    border: 1px solid red;
	width: 500px;
	height: 350px;
}

#elem2 {
    height: 100px;
    width: 100px;
    border: 1px solid green;
    margin: 10px auto;
}
#elem3 {
    height: 100px;
    width: 200px;
    border: 1px solid green;
    margin: 10px auto;
}
#elem4 {
    height: 100px;
    width: 300px;
    border: 1px solid green;
    margin: 10px auto;
}

.parent {
	text-align: center;
	padding: 10px 0;
	border: 1px solid red;
}
.child {
	border: 1px solid green;
}

.parent1 {
	text-align: right;
	padding-right: 10px;
	border: 1px solid red;
}
.tir {
	border: 1px solid green;
}
.parent2 {
	padding: 10px 0;
	border: 1px solid red;
	height: 150px;
	width: 500px;
	text-align: center;
}
.child2 {
	display: inline-block;
	margin: 5px auto;
	padding: 10px;
	border: 1px solid green;
}

.parent3 {
	width: 400px;
	height: 130px;
	text-align: right;
	padding-right: 10px; 
	border: 1px solid red;
}
.child3 {
	display: inline-block;
	padding: 10px 20px;
	margin-right: 20px;
	border: 1px solid green;
}


.parent4 {
	width: 400px;
	height: 130px;
	text-align: right;
	padding-right: 10px; 
	border: 1px solid red;
}
.child4 {
	text-align: center;
	display: inline-block;
	padding: 10px 20px;
	border: 1px solid green;
}

.parent5 {
	display: flex; /* потомки будут флекс элементами */
	width: 400px;
	height: 200px;
	border: 1px solid red;
}
.child5 {
	width: 70px;
	height: 50px;
	border: 1px solid green;
}

.parent6 {
	display: flex;
	width: 700px;
	border: 1px solid red;
}
.child6 {
	width: 120px;
	height: 100px;
	border: 1px solid green;
}

