/* 81 */

a:link {
	color: red;
}
a:visited {
	color: green;
}
a:hover {
	text-decoration: none;
}
a:active {
	color: blue;
}
/* 82 */
a:link {
	color: blue;
}
a:visited {
	color: green;
}
a:hover {
    color:red;
	text-decoration: none;
}
a:active {
	color: black;
}

/* 84 */
a {
	color: blue;
    text-decoration: none ;
}
a:hover {
    color:red;
	text-decoration: underline;
}

#test a.a {
	color: red;
}
#test a:hover {
	text-decoration: none;
}

/* 86 */

a.zzz {
	color: red;
}
a.zzz:hover {
	text-decoration: none;
}

#block1 a.zzz {
	color: red;
}
#block1 a.zzz:hover {
	text-decoration: none;
}

.block a.zzz {
	color: red;
}
.block a.zzz:hover {
	text-decoration: none;
}